{{> header}}
<div class="container d-flex flex-column align-items-center mt-6">
<div class="row justify-content-center">
<h2 class="text-center"> Register: </h2>

    <form action="/register" method="POST">
        <div class="mb-2">
            <label for="email" class="form-label"> Email: </label>
            <input type = "email" name = "email" id=  "email" class = "form-control" required />
        </div>

        <div class="mb-2">
            <label for = "password" class = "form-label"> Password: </label>
            <input type = "password" name = "password" id = "password" class= "form-control" required />
        </div>

        <button type="submit" class="btn btn-primary w-35"> Register </button>
    </form>

   <p class="text-center mt-2">
        Already have an account? <a href="/login">Login</a>
    </p>
  </div>
</div>
{{> footer}}    
